


.Home{
    background: black;
    color: white;
    height: 100vh;
    @include flex;
    justify-content: space-around;
    .text{
        font-size: 6em;
    }
    img{
        width: 350px;
    }
}