


.Home{
    background: rgb(71, 75, 71);
    color: white;
    height: 100vh;
    @include flex;
    justify-content: space-around;
    .text{
        font-size: 6em;
    }
    img{
        width: 450px;
    }
    .button{
        padding:  1.5em ;
    }
}